:root, [data-bs-theme=light] {
    --fn-primary: #066FD1;
    --fn-secondary: #6c727f;
    --fn-success: #33b36b;
    --fn-info: #3d7a81;
    --fn-warning: #fc9231;
    --fn-danger: #f03d3d;
    --fn-light: #fff;
    --fn-dark: #1d2735;
    --fn-primary-rgb: 6, 111, 209;
    --fn-secondary-rgb: 108, 114, 127;
    --fn-success-rgb: 51, 179, 107;
    --fn-info-rgb: 61, 122, 129;
    --fn-warning-rgb: 252, 146, 49;
    --fn-danger-rgb: 240, 61, 61;
    --fn-light-rgb: 255, 255, 255;
    --fn-dark-rgb: 29, 39, 53;
    --fn-primary-text-emphasis: #066FD1;
    --fn-secondary-text-emphasis: #333d4c;
    --fn-success-text-emphasis: #288b53;
    --fn-info-text-emphasis: #2d595e;
    --fn-warning-text-emphasis: #f67804;
    --fn-danger-text-emphasis: #e81212;
    --fn-light-text-emphasis: #333d4c;
    --fn-dark-text-emphasis: #111827;
    --fn-primary-bg-subtle: #fbeeee;
    --fn-secondary-bg-subtle: #eef1f6;
    --fn-success-bg-subtle: #ebf7f0;
    --fn-info-bg-subtle: #ecf2f2;
    --fn-warning-bg-subtle: #fff4ea;
    --fn-danger-bg-subtle: #feecec;
    --fn-light-bg-subtle: #fff;
    --fn-dark-bg-subtle: #edeeef;
    --fn-primary-border-subtle: #f7dcdc;
    --fn-secondary-border-subtle: #e0e5eb;
    --fn-success-border-subtle: #d6f0e1;
    --fn-info-border-subtle: #d8e4e6;
    --fn-warning-border-subtle: #fee9d6;
    --fn-danger-border-subtle: #fcd8d8;
    --fn-light-border-subtle: #eef1f6;
    --fn-dark-border-subtle: #e0e5eb;
    --fn-white-rgb: 255, 255, 255;
    --fn-black-rgb: 0, 0, 0;
    --fn-font-sans-serif: "Inter", sans-serif;
    --fn-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fn-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    --fn-root-font-size: 1rem;
    --fn-body-font-family: var(--fn-font-sans-serif);
    --fn-body-font-size: 1rem;
    --fn-body-font-weight: 400;
    --fn-body-line-height: 1.5;
    --fn-body-color: #4e5562;
    --fn-body-color-rgb: 78, 85, 98;
    --fn-body-bg: #fff;
    --fn-body-bg-rgb: 255, 255, 255;
    --fn-emphasis-color: #1d2735;
    --fn-emphasis-color-rgb: 29, 39, 53;
    --fn-secondary-color: #6c727f;
    --fn-secondary-color-rgb: 108, 114, 127;
    --fn-secondary-bg: #eef1f6;
    --fn-secondary-bg-rgb: 238, 241, 246;
    --fn-tertiary-color: #9ca3af;
    --fn-tertiary-color-rgb: 156, 163, 175;
    --fn-tertiary-bg: #f5f7fa;
    --fn-tertiary-bg-rgb: 245, 247, 250;
    --fn-heading-color: #111827;
    --fn-link-color: #d85151;
    --fn-link-color-rgb: 216, 81, 81;
    --fn-link-decoration: underline;
    --fn-link-hover-color: #d85151;
    --fn-link-hover-color-rgb: 216, 81, 81;
    --fn-link-hover-decoration: none;
    --fn-code-color: #d63384;
    --fn-highlight-color: #4e5562;
    --fn-highlight-bg: #fff3cd;
    --fn-border-width: 1px;
    --fn-border-style: solid;
    --fn-border-color: #e0e5eb;
    --fn-border-color-translucent: rgba(0, 0, 0, .1);
    --fn-border-radius: 0.5rem;
    --fn-border-radius-sm: calc(var(--fn-border-radius) * 0.75);
    --fn-border-radius-lg: calc(var(--fn-border-radius) * 1.5);
    --fn-border-radius-xl: calc(var(--fn-border-radius) * 2);
    --fn-border-radius-xxl: calc(var(--fn-border-radius) * 2.5);
    --fn-border-radius-2xl: var(--fn-border-radius-xxl);
    --fn-border-radius-pill: 50rem;
    --fn-box-shadow: 0 0.5rem 2rem -0.25rem hsla(216, 9%, 44%, .1);
    --fn-box-shadow-sm: 0 0.375rem 1.5rem hsla(216, 9%, 44%, .06);
    --fn-box-shadow-lg: 0 1.125rem 3rem -0.375rem hsla(216, 9%, 44%, .12);
    --fn-box-shadow-inset: unset;
    --fn-focus-ring-width: 0.25rem;
    --fn-focus-ring-opacity: 0.1;
    --fn-focus-ring-color: rgba(17, 24, 39, .1);
    --fn-form-valid-color: #33b36b;
    --fn-form-valid-border-color: #33b36b;
    --fn-form-invalid-color: #f03d3d;
    --fn-form-invalid-border-color: #f03d3d
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --fn-body-color: #cad0d9;
    --fn-body-color-rgb: 202, 208, 217;
    --fn-body-bg: #111827;
    --fn-body-bg-rgb: 17, 24, 39;
    --fn-emphasis-color: #eef1f6;
    --fn-emphasis-color-rgb: 238, 241, 246;
    --fn-secondary-color: #9ca3af;
    --fn-secondary-color-rgb: 156, 163, 175;
    --fn-secondary-bg: #333d4c;
    --fn-secondary-bg-rgb: 51, 61, 76;
    --fn-tertiary-color: #6c727f;
    --fn-tertiary-color-rgb: 108, 114, 127;
    --fn-tertiary-bg: #1d2735;
    --fn-tertiary-bg-rgb: 29, 39, 53;
    --fn-primary: #066FD1;
    --fn-secondary-text-emphasis: #e0e5eb;
    --fn-success-text-emphasis: #2d9f5f;
    --fn-info-text-emphasis: #356a70;
    --fn-warning-text-emphasis: #fc8518;
    --fn-danger-text-emphasis: #ee2525;
    --fn-light-text-emphasis: #e0e5eb;
    --fn-dark-text-emphasis: #fff;
    --fn-primary-bg-subtle: #251e2b;
    --fn-secondary-bg-subtle: #1d2735;
    --fn-success-bg-subtle: #14282e;
    --fn-info-bg-subtle: #152230;
    --fn-warning-bg-subtle: #292428;
    --fn-danger-bg-subtle: #271c29;
    --fn-light-bg-subtle: #111827;
    --fn-dark-bg-subtle: #030712;
    --fn-primary-border-subtle: #39232f;
    --fn-secondary-border-subtle: #333d4c;
    --fn-success-border-subtle: #183735;
    --fn-info-border-subtle: #1a2c39;
    --fn-warning-border-subtle: #403029;
    --fn-danger-border-subtle: #3e1f2b;
    --fn-light-border-subtle: #333d4c;
    --fn-dark-border-subtle: #030712;
    --fn-heading-color: #fff;
    --fn-link-color: #e89797;
    --fn-link-hover-color: #e89797;
    --fn-link-color-rgb: 232, 151, 151;
    --fn-link-hover-color-rgb: 232, 151, 151;
    --fn-code-color: #e685b5;
    --fn-highlight-color: #cad0d9;
    --fn-highlight-bg: #664d03;
    --fn-border-color: #333d4c;
    --fn-border-color-translucent: hsla(0, 0%, 100%, .15);
    --fn-form-valid-color: #33b36b;
    --fn-form-valid-border-color: #33b36b;
    --fn-form-invalid-color: #f03d3d;
    --fn-form-invalid-border-color: #f03d3d
}
